.controller{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
}
.button_volume{
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='250px' height='250px' viewBox='0 0 32 32' enable-background='new 0 0 32 32' id='Stock_cut' version='1.1' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc/%3E%3Cg%3E%3Cpath d='M13,20 c2.209,0,4-1.791,4-4s-1.791-4-4-4' fill='white' stroke='%2300e600' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpolygon fill='white' points='7,12 3,12 3,20 7,20 13,26 13,6 ' stroke='%2300e600' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath d='M24.314,27.314 C27.209,24.418,29,20.418,29,16s-1.791-8.418-4.686-11.314' fill='none' stroke='%2300e600' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath d='M21.485,24.485 C23.657,22.314,25,19.314,25,16c0-3.314-1.343-6.314-3.515-8.485' fill='none' stroke='%2300e600' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3Cpath d='M18.657,21.657 C20.105,20.209,21,18.209,21,16c0-2.209-0.895-4.209-2.343-5.657' fill='none' stroke='%2300e600' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}
.volume[type="range"] {
    -webkit-appearance: none !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height: 5px;
    position: relative;
    width: 150%;
    margin-left: 5px;
    margin-right: 5px;
    transform: rotate(-90deg);
  }
  
  .volume[type="range"]:before {
    position: absolute;
    content: "";
    width: var(--rangeVolume);
    height: 5px;
    background: #00e600;
  }
  
.volume[type="range"]::-webkit-slider-thumb  {
    -webkit-appearance: none !important;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: none;
    background-color: #00e600;
    z-index: 99;
    position: relative;
    transition: 0.5s all ease;
  }
  
.volume[type="range"]::-webkit-progress-value {
    background: white;
    color: white;
    background: white;
}

.selectorVolume{
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 110%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
     border-radius: 10px;
    border: 3px solid rgb(0 230 0 / 50%);
    transition: all 0.3s ease-in-out;
    transform: scale(0,0);
}