.controller{
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
}
.button_volume{
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='250px' height='250px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' aria-labelledby='soundsIconTitle' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' color='white'%3E%3Cpath d='M12 7L12 17'/%3E%3Cpath d='M15 10L15 14'/%3E%3Cpath d='M18 8L18 16'/%3E%3Cpath d='M21 13L21 11'/%3E%3Cpath d='M9 4L9 20'/%3E%3Cpath d='M6 9L6 15'/%3E%3Cpath d='M3 13L3 11'/%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}
.volume[type="range"] {
    -webkit-appearance: none !important;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    height: 5px;
    position: relative;
    width: 150%;
    margin-left: 5px;
    margin-right: 5px;
    transform: rotate(-90deg);
  }
  
  .volume[type="range"]:before {
    position: absolute;
    content: "";
    width: var(--rangeVolume);
    height: 5px;
    background: rgba(26,26,26);
  }
  
.volume[type="range"]::-webkit-slider-thumb  {
    -webkit-appearance: none !important;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: none;
    background-color: rgba(26,26,26);
    z-index: 99;
    position: relative;
    transition: 0.5s all ease;
  }
  
.volume[type="range"]::-webkit-progress-value {
    background: white;
    color: white;
    background: white;
}

.selectorVolume{
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 110%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    background:  rgba(26,26,26,0.10);;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
     border-radius: 10px;
    border: 3px solid rgba(26,26,26,0.50);
    transition: all 0.3s ease-in-out;
    transform: scale(0,0);
}