.actions{
    border: none;
    outline: none;
    cursor: pointer;
}

.btn_play{
  background-position: center;
  background-size: cover;
  background-image: url("../../assests/play.png");
  background-color: transparent;
  border: 0px;
  width: 20px;
  height: 20px;
}

.btn_pause{
  background-position: center;
  background-size: cover;
  background-image: url("../../assests/pause.png");
  background-color: transparent;
  border: 0px;
  width: 20px;
  height: 20px;
}