.button_screen_max{
    margin-left: 3px;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width=%27250px%27 height=%27250px%27 viewBox=%270 0 48 48%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Crect width=%27250%27 height=%27250%27 fill=%27white%27 fill-opacity=%270.01%27/%3E%3Cpath d=%27M42 6V42M17 19L12 24M12 24L17 29M12 24H36M31 19L36 24M36 24L31 29M6 6L6 42%27 stroke=%27white%27 stroke-width=%274%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

.button_screen_min{
    margin-left: 3px;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 %3F%3E%3C%21DOCTYPE svg PUBLIC %27-//W3C//DTD SVG 1.0//EN%27 %27http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd%27%3E%3Csvg enable-background=%27new 0 0 32 32%27 height=%27250px%27 id=%27Layer_1%27 version=%271.0%27 viewBox=%270 0 32 32%27 width=%27250px%27 xml:space=%27preserve%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27%3E%3Cpath fill=%27white%27 d=%27M17.067,3.182v25.635c0,0.589-0.478,1.068-1.067,1.068c-0.588,0-1.067-0.479-1.067-1.068V3.182 c0-0.589,0.479-1.066,1.067-1.066C16.591,2.115,17.067,2.593,17.067,3.182z M31.982,15.959c-0.008-0.211-0.079-0.482-0.217-0.651 l-4.141-5.162c-0.37-0.459-1.04-0.533-1.5-0.163c-0.459,0.367-0.533,1.042-0.162,1.501l2.746,3.427h-9.613 c-0.59,0-1.068,0.478-1.068,1.067c0,0.591,0.479,1.068,1.068,1.068h9.623l-2.763,3.473c-0.367,0.462-0.289,1.136,0.171,1.502 c0.197,0.155,0.433,0.232,0.664,0.232c0.314,0,0.626-0.14,0.836-0.404c0,0,4.13-5.191,4.142-5.206 C31.92,16.453,31.991,16.207,31.982,15.959z M0,16.041c0.008,0.211,0.079,0.482,0.217,0.651l4.141,5.162 c0.37,0.459,1.04,0.533,1.5,0.163c0.459-0.367,0.533-1.042,0.162-1.501L3.274,17.09h9.613c0.59,0,1.068-0.478,1.068-1.067 c0-0.591-0.479-1.068-1.068-1.068H3.264l2.763-3.473c0.367-0.462,0.289-1.136-0.171-1.502C5.659,9.824,5.423,9.747,5.192,9.747 c-0.314,0-0.626,0.14-0.836,0.404c0,0-4.13,5.191-4.142,5.206C0.063,15.547-0.008,15.793,0,16.041z%27/%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}