.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 100, 217);
}

:root {
  --range: 0%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: white;
}

video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.video-wrapper:hover .controls {
  transform: translateY(0%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 30px;
  padding: 14px;
  width: 80%;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(200%);
  transition: all 0.3s ease-in-out;
}

.actions button {
  border: none;
  outline: none;
  cursor: pointer;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
}

.progress{
  width: 80%;
  height: 25px;
  display: flex;
  align-items: center;
    justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

input[type="range"] {
  -webkit-appearance: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 5px;
  position: relative;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.progress_bar:before {
  position: absolute;
  content: "";
  width: var(--range);
  height: 5px;
  background: white;
}

input[type="range"]::-webkit-slider-thumb  {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: none;
  background-color: white;
  z-index: 99;
  position: relative;
  transition: 0.5s all ease;
}

input[type="range"]::-webkit-progress-value {
  background: white;
  color: white;
  background: white;
}

.velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.velocity-item{
  color: black;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}


.btn-play{
  background-position: center;
  background-size: cover;
  background-image: url("../public/play.png");
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.btn-pause{
  background-position: center;
  background-size: cover;
  background-image: url("../public/pause.png");
  background-color: transparent;
  width: 20px;
  height: 20px;
}